.main {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 15px;
    padding: 15px;
    align-content: center;
    max-width: 250px;
}

div > img {
    border-radius: 10px;
    width: 250px;
    
}

div > h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;

}

div > p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(218, 44%, 22%);
}